span a {
  text-decoration: none;
}

ion-title small {
  color: gray;
}

.e-learning-tag {
  margin: 0 1rem;
}

span.date {
  font-family: monospace, monospace;
  color: darkblue;
  @media (prefers-color-scheme: dark) {
    color: lightblue;
  }
}

span.date-divider {
  margin: 0 0.2rem 0 0.2rem;
  opacity: 0.5;
  color: darkblue;
  @media (prefers-color-scheme: dark) {
    color: lightblue;
  }
}

.time-info {
  color: darkgoldenrod;
  @media (prefers-color-scheme: dark) {
    color: yellow;
  }
}

.ion-color .check-icon {
  background-color: white;
}

.set-playback-speed-button {
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  ion-content {
    .scroll-area {
      height: calc(100vh - 70px);
      overflow: auto;
    }
  }
}

/* Pink Theme overrides */

:host-context(body.pink-theme) {
  span.date {
    color: #AD1457;
  }

  span.date-divider {
    color: #AD1457;
  }

  .time-info {
    color: #E91E90;
  }

  ion-title small {
    color: #B07090;
  }

  .set-playback-speed-button {
    --ion-color-primary: #E91E90;
  }
}

@media (prefers-color-scheme: dark) {
  :host-context(body.pink-theme) {
    span.date {
      color: #F48FB1;
    }

    span.date-divider {
      color: #F48FB1;
    }

    .time-info {
      color: #F06292;
    }

    ion-title small {
      color: #C48BA0;
    }
  }
}

