span a {
  text-decoration: none;
}

ion-title small {
  color: var(--flick-muted-text);
}

.e-learning-tag {
  margin: 0 1rem;
}

span.date {
  font-family: monospace, monospace;
  color: var(--flick-companion-text);
}

span.date-divider {
  margin: 0 0.2rem 0 0.2rem;
  opacity: 0.5;
  color: var(--flick-companion-text);
}

.time-info {
  color: var(--flick-warning-text);
}

.ion-color .check-icon {
  background-color: var(--ion-color-contrast);
}

.set-playback-speed-button {
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  ion-content {
    .scroll-area {
      height: calc(100vh - 70px);
      overflow-y: auto;
      scrollbar-gutter: stable;
      padding-right: 0.5rem;
    }
  }
}
