span a {
  text-decoration: none;
}

ion-title small {
  color: var(--flick-subtext-color, gray);
}

.e-learning-tag {
  margin: 0 1rem;
}

span.date {
  font-family: monospace, monospace;
  color: var(--flick-date-color, darkblue);
}

span.date-divider {
  margin: 0 0.2rem 0 0.2rem;
  opacity: 0.5;
  color: var(--flick-date-divider-color, darkblue);
}

.time-info {
  color: var(--flick-time-info-color, darkgoldenrod);
}

.ion-color .check-icon {
  background-color: white;
}

.set-playback-speed-button {
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  ion-content {
    .scroll-area {
      height: calc(100vh - 70px);
      overflow: auto;
    }
  }
}
