<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title>
      <span [ngStyle]="{'background-color': colorByFolderName(year)}">{{ year || 'Loading'}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    @if (list$ | async; as list) {
        @if (list) {
            <ion-list>
                @for (course of list; track course.id) {
                    <ion-item button [routerLink]="course.link">
                        <ion-label>
                            @if (course.is_remote) {
                                <span class="e-learning-tag">MDCU <small>E-Learning</small></span>
                            }
                            {{ course.name }}
                        </ion-label>
                    </ion-item>
                }
            </ion-list>
        } @else {
            <p>Empty.</p>
        }
    }
</ion-content>
