<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            MDCU Recorded Lecture
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="outline" color="secondary" (click)="logout()">
                Sign out
                <ion-icon slot="end" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <main>
        @if (response$ | async; as response) {
            @if (response.last_played) {
                <ion-card color="tertiary" class="ion-margin-top">
                    <ion-card-header>
                        <ion-card-title>Last Played</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item button="true" detail="true" (click)="goToLastVideo(response.last_played.video)">
                            <ion-label>
                                <h2>{{ response.last_played.video.course.name }}</h2>
                            </ion-label>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            }

            <ion-grid>
                <ion-row>
                    @for (folder of Object.keys(response.years); track folder) {
                        <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
                            <ion-card [routerLink]="folder" [ngStyle]="{'background-color': colorByFolderName(folder)}"
                                      class="ion-text-center hover-card">
                                <ion-card-header>
                                    <ion-card-title>{{ folder }}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    }
                </ion-row>
            </ion-grid>

        } @else {
            <ion-spinner name="crescent" class="ion-margin-top center-spinner"></ion-spinner>
            <h4 class="ion-text-center ion-margin-top">Loading lectures...</h4>
        }
    </main>

    <footer>
        <ion-text class="ion-padding small-text">
            @if (response$ | async; as response) {
                @if (response.last_fetched_at) {
                    <p>Last fetched from MDCU E-Learning at {{ response.last_fetched_at }}</p>
                }
            }
            <p>
                Your feedback is welcome. Email:
                <a href="mailto:siwat.techa@docchula.com">siwat.techa&#64;docchula.com</a> or
                <a href="mailto:it@docchula.com">it&#64;docchula.com</a>
            </p>
            <p>
                Contents are provided for MDCU students only. You may not copy, reproduce, distribute, publish, display, create
                derivative works, transmit, or in any way exploit any such content.
            </p>
        </ion-text>
    </footer>
</ion-content>
